<div class="page-header"> 
  <h1>Vocab Learner <small>Helping you learn vocabulary</small></h1> 
</div> 
<div class="row"> 
  <div class="span14"> 
    <p> My first Rails site! The site is meant to help you learn vocabulary. </p>

    <p> 
    Simply login with Twitter (link above), and then add vocabulary you find in books, or online,
    that you are struggling to remember, and then simply add them to this site!
    </p>

    <p>This is nothing more than just a short weekend project, but if you can, do please send suggestions
    to 'me [at] rafal [dot] io'
    </p>
       
  </div>
</div> 
