<div class="page-header"> 
  <h1>Vocab Learner <small>Helping you learn vocabulary</small></h1> 
</div> 
<div class="row"> 
  <div class="span14"> 
    <p> My first ever Rails site! The site is meant to help you learn vocabulary. </p>
  </div>
</div> 
