<h1>Learn vocab!</h1>

<p> 
  Here you can learn the vocab you input into the site! Simply click the button below!

  We will show you your words, and you can say whether you know it, or need help!

  We will keep statistics of which words you know / don't know, to help you learn!
</p>

<%= link_to 'Start Learning!', random_path, class: "btn large primary" %>
